*.csproj
*.csproj.user
*.sln
/.vs
/2018-3-debug.nsp
/2018-3-debug.vcxproj
/2018-3-debug.vcxproj.filters
/Application.aarch64.lp64.nmeta
/Library
/BuildAndRun.bat
/Logs/Packages-Update.log
/obj
/StagingArea
/SwitchIL2CPPCache
/Temp
/SwitchIL2CPPStats/statistics.txt
/.idea
*.sln.DotSettings.user
*.nsp
/x86-64-debug/
/x86-64-debug-qualitySwitch
*.vcxproj
*.vcxproj.filters
/Windows
